*{
    box-sizing: border-box;
}

body{
    
    background: #c5c5c5;
    font-family: "Lucida Console", Courier, monospace;
    
}

.form-register {

    background-color: #829191;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 40%;
    padding: 10px;
}
.img-logo{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 33%;
    
}

input{
    border: 0;
    width: 280px;

}

.input-name{
    border: solid 1px #ccc;
    padding: 10px;

}

.input-email{
    border: solid 1px #ccc;
    padding: 10px;

}

.input-username-register{
    border: solid 1px #ccc;
    padding: 10px;

}

.input-password-register{
    border: solid 1px #ccc;
    padding: 10px;

}

.button-register {
    display: block;
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #;
    background-color: #ff5e5b;
    margin-top: 10%;
    margin-left: 35%;
    border-radius: 10px;
    
  }
  
  .button-register:active {
    background-color: #ff0e0a;

  }

